* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(Assents/fundo-ofc.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilo do Header */

#cabecario{
    width: 500px;
    margin: 25px auto;
    border: 1px solid #00C27A;
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

#tema{
    background: transparent;
    border: none;
    cursor: pointer;
    padding-left: 25px;
}

#tema img{
    width: 60px;
}

nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0px 15px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

a:hover{
    color: #00C27A;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}

#foto-de-perfil {
  border-radius: 50%;
  width: 350px;
  border: 1px solid #00C27A;
  box-shadow: #00C27A;
}

#sobre {
  margin: 0px 100px;
  padding:  30px 20px;
  background: linear-gradient(
    135deg,
    rgba(10, 10, 10, 0.95),
    rgba(20, 20, 20, 0.9),
    rgba(10, 10, 10, 0.95)
  );
  border: 1px solid white;
  border-radius: 16px;
}


.msg-principal {
  margin: 40px;
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
  color: white;
  font-size: 24px;
}

.destaque {
  color: #00C27A;
}



.topicos {
  color: #00C27A;
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.paragrafo {
  color: white;
  padding-left: 35px;
  padding-right: 35px;
  margin: 10px 60px;
}

#tecnologias {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 50px 20px;
  color: #00C27A;
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
}

table {
  background: linear-gradient(
    135deg,
    rgba(10, 10, 10, 0.95),
    rgba(20, 20, 20, 0.9),
    rgba(10, 10, 10, 0.95)
  );
  border: 1px solid white;
  width: 850px;
  border-radius: 24px;
  padding: 10px;
  font-size: 26px;
}

th {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

tr {
  text-align: center;
}

td {
  padding: 5px;
}

td:hover {
  color: #7FF3D1;
}



#rodape {
  color: #ddd;
  border-top: 1px solid #ddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-variation-settings: "ELSH" 0;
  background: linear-gradient(
    135deg,
    rgba(10, 10, 10, 0.95),
    rgba(20, 20, 20, 0.9),
    rgba(10, 10, 10, 0.95)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  height: 50px;
}
